.main-menu{
	grid-area: nav;
	background-color: #434a54;
	color: $white;


	&__container{
		//height: 900px;
		//padding-bottom: 40px;
	}
	&__section {
		&:last-child {
			padding-bottom: 40px;
		}
		&-title {
			padding-left: 30px;
			padding-right: 15px;
			height: 42px;
			display: flex;
			align-items: center;
			background-color: $gray-800;
			color: $white;
			//margin-right: -5px;
			i{
				margin-right: 20px;
			}
			span{
				text-transform: uppercase;
			}
			.badge{
				margin-left: 10px;
			}
		}
		&-body{
			margin: 0;
			padding: 3px 0;
			list-style: none;
		}
		&-link{
			padding-left: 60px;
			padding-right: 15px;
			height: 40px;
			display: flex;
			align-items: center;
			color: $white;
			text-decoration: none;
			background-color: transparent;
			transition: background-color .25s;
			&:hover{
				background-color: $gray-800;
				transition: background-color .25s;
				color: $white;
				text-decoration: none;
			}
			.badge{
				margin-left: 10px;
			}
		}
	}
}